* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.gameplay {
    width: 80%;
    height: 520px;
    border: 2px solid #CCC;
    margin: 0 auto;
    position: relative;
}  

sonic {
    bottom: 0;
    position: absolute;
}